
<script>
    $(function() {
        function toggleChevron(e) {
            $(e.target)
                    .prev('.panel-heading')
                    .find("i")
                    .toggleClass('fa-minus-circle');
        }
        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);
        $('#accordion2').on('hidden.bs.collapse', toggleChevron);
        $('#accordion2').on('shown.bs.collapse', toggleChevron);
    });
    
    function goBack() {
        window.history.back();
    }
</script>


<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="page-header">
       <h1>API documentation for LightControl</h1>
    </div>
    <div class="page-header">
        <a class="btn btn-info" onClick="goBack()"><i class="fa fa-arrow-circle-left"></i> Back </a> <br>
        <h1>API calls</h1>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <!-- API TEMPLATE
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        API template
                        <i class="fa fa-plus-circle pull-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th valign="top"> Title </th>
                            <td>
                                <span class="caption">The name of your API call</span> <br>
                                <b>Example : Show All Users </b>
                                <p>
                                    <i>
                                        <ul>
                                            <li> Note: try to use verbs that match both request type (fetching vs modifying) and plurality (one vs multiple.) </li>
                                            <li>Note: Also add additional info here such as a description, if need be.</li>
                                        </ul>
                                    </i>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                URL
                            </th>
                            <td>
                                <span class="caption">The URL structure (path only, no root url)</span> <br>
                                <b><code>/users</code> or <code>/users/:id</code> or <code>/users?id=:id</code> </b>
                                <p>
                                    <i>
                                        <ol>
                                            <li>For fixed urls: /users or /photos</li>
                                            <li>For urls with parameters in them: /users/:id or /photos/:photo_id or /users?id=:id</li>
                                        </ol>
                                    </i>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Method
                            </th>
                            <td>
                                <span class="caption">The request type</span> <br>
                                <b><code>GET</code> | <code>POST</code> | <code>DELETE</code> | <code>PUT</code> </b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                URL Params
                            </th>
                            <td>
                                <span class="caption">If URL params exist, specify them in accordance with name mentioned in URL section. Separate into optional and required.</span> <br>
                                <br>
                                <b>Required:</b> <br>
                                <code>id=[integer]</code> <br>
                                example: id=12  <br><br>
                                <b>Optional</b> <br>
                                <code>photo_id=[alphanumeric]</code> <br>
                                example: photo_id=2345kj3
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Data Params
                            </th>
                            <td>
                        <span class="caption">If making a post request, what should the body payload look like?
                           This is a good time to document your various data constraints too.</span> <br>
                                <b>Example:</b> <br>
                                <pre>
{
u : {
email : [string],
name : [string],
current_password : [alphanumeric]
password : [alphanumeric],
password_confirmation : [alphanumeric]
}
}
                        </pre>
                                <b> Example: </b>
                                <pre>
{
u : {
email : "john@smith.com",
name : "John",
current_password : "apassw0rd"
password : "anewpassw0rd",
password_confirmation : "anewpassw0rd"
}
}
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Success Response
                            </th>
                            <td>
                                <span class="caption">What should the status code be on success and is there any returned data? This is useful when people need to to know what their callbacks should expect!</span> <br>
                                <b> Example: </b> <br>
                                <b>Code:</b> 200 <br>
                                <b>Content:</b> <code> { id : 12 }</code><br>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Error Response
                            </th>
                            <td>
                                <span class="caption">Most endpoints will have many ways they can fail. From unauthorized access, to wrongful parameters etc. All of those should be listed here. It might seem repetitive, but it helps prevent assumptions from being made where they shouldn&#8217;t be.</span> <br>
                                <b> Example: </b> <br>
                                <b>Code:</b> 401 UNAUTHORIZED <br>
                                <b>Content:</b> <code> { error : "Log in" }</code><br>
                                OR<br>
                                <b>Code:</b> 422 Unprocessable Entry <br>
                                <b>Content:</b> <code> { error : "Email invalid" }</code><br>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Sample Call
                            </th>
                            <td>
                                <span class="caption">Just a sample call to your endpoint in a runnable format ($.ajax call or a curl request) &#8211; this makes life easier and more predictable.</span> <br>
                                <pre>
$.ajax({
url: "/users",
dataType: "json",
data : {
u: {
  id : 12,
  email : "john@smith.com"
}
},
type : "PUT",
success : function(r) {
console.log(r);
}
});
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Notes
                            </th>
                            <td>
                                <span class="caption">This is where all uncertainties, commentary, discussion etc. can go. I recommend timestamping and identifying oneself when leaving comments here.</span> <br>
                            </td>
                        </tr>
                    </table>
                    </div>
            </div>
        </div>
        -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Sign up
                        <i class="fa fa-plus-circle pull-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th valign="top"> Title </th>
                            <td>
                                <b>Sign up </b>
                                <p>
                                    <i>
                                        <ul>
                                            <li> Sign up using our local strategy. </li>
                                        </ul>
                                    </i>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                URL
                            </th>
                            <td>
                                <b><code>/auth/signup</code>  </b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Method
                            </th>
                            <td>
                                <b><code>POST</code></b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Data Params
                            </th>
                            <td>
                                <b>Required:</b> <br>
                                <pre>
{
email : [string],
password : [string]
}
                        </pre>
                                <b> Example: </b>
                                <pre>
{
email : "myemail@host.com",
password : "myS3cr3tP4ssw0rd"
}
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Success Response
                            </th>
                            <td>
                                <b>Code:</b> 200 <br>
                                <b>Content:</b> <code> [Json Web Token] </code><br>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Error Response
                            </th>
                            <td>
                                <b>Code:</b> 500 Internal Server Error <br>
                                <b>Content:</b> <code> {message: "message"}</code><br>
                                <br>
                                <b>Code:</b> 401 Unauthorized <br>
                                <b>Content:</b> <code> {message: "message"}</code>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Sample Call
                            </th>
                            <td>
                                <pre>
$.ajax({
    method: 'POST',
    url: '/auth/signup',
    dataType: 'json',
    data: {email: email, password: password},
    success: function(response) {
        //since this returns our JWT it would be smart to save it.
        localStorage.setItem("APItoken", ("JWT " + response));
        //and also redirect somewhere
        window.location.href = "/profile";
    },
    error: function(response) {
        //errorhandling
    }
});
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Notes
                            </th>
                            <td>
                                <span class="caption">This call of course requires NO JWT.</span> <br>
                                <span class="caption">Feel free to save the JWT in what ever way you like. <br>
                                    <em> we suggest using local storage.</em></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSignIn">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSignIn" aria-expanded="false" aria-controls="collapseSignIn">
                        Sign in
                        <i class="fa fa-plus-circle pull-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseSignIn" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <!-- HERE IS WHERE TABLES GO -->
                    <table class="table table-striped">
                        <tr>
                            <th valign="top"> Title </th>
                            <td>
                                <span class="caption">Sign in</span> <br>
                                <p>
                                    <i>
                                        <ul>
                                            <li> Sign in using local strategy. </li>
                                        </ul>
                                    </i>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                URL
                            </th>
                            <td>
                                <b><code>/auth/signin</code>   </b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Method
                            </th>
                            <td>
                                <b><code>POST</code> </b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Data Params
                            </th>
                            <td>
                                <b>Required:</b> <br>
                                <pre>
{
email : [string],
password : [string]
}
                        </pre>
                                <b> Example: </b>
                                <pre>
{
email : "myemail@host.com",
password : "myS3cr3tP4ssw0rd"
}
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Success Response
                            </th>
                            <td>
                                <b>Code:</b> 200 <br>
                                <b>Content:</b> <code> [Json Web Token] </code><br>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Error Response
                            </th>
                            <td>
                                <b>Code:</b> 500 Internal Server Error <br>
                                <b>Content:</b> <code> {message: "message"}</code><br>
                                <br>
                                <b>Code:</b> 401 Unauthorized <br>
                                <b>Content:</b> <code> {message: "message"}</code>
                        </tr>

                        <tr>
                            <th valign="top">
                                Sample Call
                            </th>
                            <td>
                                <pre>
$.ajax({
    method: 'POST',
    url: '/auth/signin',
    dataType: 'json',
    data: {email: email, password: password},
    success: function(response) {
        //since this returns our JWT it would be smart to save it.
        localStorage.setItem("APItoken", ("JWT " + response));
        //and also redirect somewhere
        window.location.href = "/profile";
    },
    error: function(response) {
        //error handling
    }
});
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Notes
                            </th>
                            <td>
                                <span class="caption">This call of course requires NO JWT.</span> <br>
                                <span class="caption">Feel free to save the JWT in what ever way you like. <br>
                                    <em> we suggest using local storage.</em></span>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

    </div>

    <div class="page-header">
        <h1>Secure API calls (requires JWT header)</h1>
    </div>
    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseMyHouse" aria-expanded="false" aria-controls="collapseMyHouse">
                        My House
                        <i class="fa fa-plus-circle pull-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseMyHouse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th valign="top"> Title </th>
                            <td>
                                <b>Get your own house from the database </b>
                                <p>
                                    <i>
                                        <ul>
                                            <li> Your Jason Web Token will be used to find your house. </li>
                                        </ul>
                                    </i>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                URL
                            </th>
                            <td>
                                <b><code>/api/myhouse</code> </b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Method
                            </th>
                            <td>
                                <b><code>GET</code></b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Success Response
                            </th>
                            <td>
                                <b>Code:</b> 200 <br>
                                <b>Content:</b><br> <code> { <br>
                                "_id": MongoDB-Object-ID, <br>
                                "name": String, <br>
                                "owner": String, <br>
                                "__v": Number, <br>
                                "locations": Array, <br>
                                "items": Array <br>
                                }</code><br>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Error Response
                            </th>
                            <td>
                                <b>Code:</b> 400 Bad Request <br>
                                <b>Content:</b> <code> {message: "message"}</code><br>
                                <br>
                                <b>Code:</b> 500 Internal Server Error <br>
                                <b>Content:</b> <code> {message: "message"}</code><br>
                                <br>
                                <b>Code:</b> 401 Unauthorized <br>
                                <b>Content:</b> <code> {message: "message"}</code>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Sample Call
                            </th>
                            <td>
                        <pre>
$.ajax({
method: 'GET',
url: '/API/myHouse',
dataType: 'json',
success: function(response) {
    //do stuff

},
error: function(response) {
    //do stuff
},
beforeSend: function(xhr) {
    //we use JWT stored in localStorage for authentication.
    xhr.setRequestHeader('Authorization', window.localStorage.getItem('APItoken'));
}
});
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Notes
                            </th>
                            <td>
                                <span class="caption">Remeber that all secure calls requires key "Authorization" in header with value "JWT ...token..."</span> <br>
                            </td>
                        </tr>
                    </table></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAuthenticate">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseAuthenticate" aria-expanded="false" aria-controls="collapseAuthenticate">
                        Authenticate
                        <i class="fa fa-plus-circle pull-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseAuthenticate" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th valign="top"> Title </th>
                            <td>
                                <b>Authenticate your token. </b>
                                <p>
                                    <i>
                                        <ul>
                                            <li> Tries to authenticate using your Json Web Token. </li>
                                        </ul>
                                    </i>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                URL
                            </th>
                            <td>
                                <b><code>/auth/authenticate</code> </b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Method
                            </th>
                            <td>
                                <b><code>POST</code></b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Success Response
                            </th>
                            <td>
                                <b>Code:</b> 200 <br>
                                <b>Content:</b><br> <code> { <br>
                                message: "Success" <br>
                                }</code><br>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Error Response
                            </th>
                            <td>
                                <b>Code:</b> 500 Internal Server Error <br>
                                <b>Content:</b> <code> {message: "message"}</code><br>
                                <br>
                                <b>Code:</b> 401 Unauthorized <br>
                                <b>Content:</b> <code> {message: "message"}</code>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Sample Call
                            </th>
                            <td>
                        <pre>
$.ajax({
    method: 'POST',
    url: '/auth/authenticate',
    dataType: 'json',
    success: function(response){
        //all good, do whatever, or nothing.
    },
    error: function(response){
        //user was not authenticated, redirect?
        window.location.href = "/auth";
    },
    beforeSend: function(xhr){
        //Use JWT stored in localStorage for authentication.
    xhr.setRequestHeader('Authorization', window.localStorage.getItem('APItoken'));
    }
});
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Notes
                            </th>
                            <td>
                                <span class="caption">Remeber that all secure calls requires key "Authorization" in header with value "JWT ...token..."</span> <br>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAddRoom">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseAddRoom" aria-expanded="false" aria-controls="collapseAddRoom">
                        Add room
                        <i class="fa fa-plus-circle pull-right"></i>
                    </a>
                </h4>
            </div>
            <div id="collapseAddRoom" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAddRoom">
                <div class="panel-body">
                    <!-- HERE IS WHERE TABLES GO -->
                    <table class="table table-striped">
                        <tr>
                            <th valign="top"> Title </th>
                            <td>
                                <b>Add a room to your house. </b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                URL
                            </th>
                            <td>
                                <b><code>/API/addLocation</code></b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Method
                            </th>
                            <td>
                               <b><code>POST</code> </b>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Data Params
                            </th>
                            <td>
                                <b>Required:</b> <br>
                                <pre>
{
newRoomName : [string]
}
                        </pre>
                                <b> Example: </b>
                                <pre>
{
newRoomName : "kitchen"
}
                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Success Response
                            </th>
                            <td>
                                <b>Code:</b> 200 <br>
                                <b>Content example:</b> <code> { <br>
                                "_id": "584582a678cd030e58b3bbc4",<br>
                                "name": "Kitchen",<br>
                                "house": "584582a678cd030e58b3bbc3",<br>
                                "items": [<br>
                                "584582ca78cd030e58b3bbcb"<br>
                                ],<br>
                                "__v": 0<br>
                                }</code><br>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Error Response
                            </th>
                            <td>
                                <b>Code:</b> 500 Internal Server Error <br>
                                <b>Content:</b> <code> {message: "message"}</code><br>
                                <br>
                                <b>Code:</b> 401 Unauthorized <br>
                                <b>Content:</b> <code> {message: "message"}</code>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Sample Call
                            </th>
                            <td>
                                <pre>
$.ajax({
    method: 'POST',
    url: '/API/addLocation',
    dataType: 'json',
    data: {newRoomName: newRoom},
    success: function(response) {
        //stuff
                            },
    error: function(response) {
        //stuff
    },
    beforeSend: function(xhr) {
        //we use JWT stored in localStorage for authentication.
    xhr.setRequestHeader('Authorization', window.localStorage.getItem('APItoken'));
    }
});
}

                        </pre>
                            </td>
                        </tr>

                        <tr>
                            <th valign="top">
                                Notes
                            </th>
                            <td>
                                <span class="caption">Remeber that all secure calls requires key "Authorization" in header with value "JWT ...token...".</span> <br>
                                <span class="caption"> A new house is created if you have not got one server-side.</span>
                            </td>
                        </tr>
                    </table></div>
            </div>
        </div>
        
    </div>
</div>




<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

</div>