<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Add household</h1>
        <form action="/house/add-house" method="post">
            <div class="form-group">
                <label for="name">House name:</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">House description:</label>
                <input type="text" id="description" name="description" class="form-control">
            </div>
            <button type="submit" class ="btn btn-primary">Submit</button>
        </form>
    </div>
</div>