
<script>
$(function() {
    function toggleChevron(e) {
        $(e.target)
                .prev('.panel-heading')
                .find("i")
                .toggleClass('fa-minus-circle');
    }
    $('#accordion').on('hidden.bs.collapse', toggleChevron);
    $('#accordion').on('shown.bs.collapse', toggleChevron);
});

$.ajax({
    method: 'GET',
    url: '/API/myitems',
    dataType: 'json',
    success: function(response) {
        $("#errorDiv").hide();
        response.locationArray.forEach(function(element) {
            $("#accordion").append(
                    '<div class="panel panel-default">' +
                    '<div class="panel-heading text-center" role="tab" id="heading'+element._id+'">' +
                    '<h4 class="panel-title">' +
                    '<a class="collapsed text-center" role="button" data-toggle="collapse" data-parent="#accordion" href="#'+element._id+'" aria-expanded="false" aria-controls="'+element._id+'">' +
                    element.name +
                    '<i class="fa fa-plus-circle pull-right"></i>' +
                    '</a>' +
                    '</h4>' +
                    '</div>' +
                    '<div id="'+element._id+'" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading'+element._id+'">' +

                    '</div>' +
                    '</div>');
            element.items.forEach(function(item) {
                $("#"+element._id).append(
                        '<div class="panel-body text-center">'+
                        '<div class="row">'+
                        '<div class="col-md-12">'+
                        '<b>name:</b> ' + item.name + '<br>' +
                        '<b>power:</b> ' + item.power + '<br>' +
                        '<b>description:</b> ' + item.description + '<br>' +
                        '<input id="wtfToggle" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">'+
                        '</div>' +
                        '</div>' +
                        '</div>');
            });
        });
    },
    error: function(response) {
        if (response.status == 401) {
            window.location.href = "/auth";
        } else {
            $("#errorDiv").empty();
            $("#errorDiv").append('<h1>'+response.status +'</h1> <br> ' +
                    '<h3>'+ response.statusText +'</h3> <br> ' +
                    response.responseJSON.message + '<br>');
            $("#errorDiv").show();
        }
    },
    beforeSend: function(xhr) {
        xhr.setRequestHeader('Authorization', window.localStorage.getItem('APItoken'));
    }
});

$(document).ready(function () {
    $('#wtfToggle').bootstrapToggle({
    });
});
</script>

<div id="mainDiv" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <div class="page-header text-center">
        <h1>House</h1>
    </div>
    <div id="errorDiv" class="alert alert-danger text-center">
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


    </div>
</div>
