<script>
   
    
function editHomeUnitInfo(ip, port) {
    $('#editHomeUnit').modal('toggle');
    $.ajax({
        method: 'POST',
        url: '/API/editHomeUnitInfo',
        dataType: 'json',
        data: {ip: ip, port: port},
        success: function(response) {
            $("#homeUnitInfo").empty();
            $("#homeUnitInfo").append(
                '<div class="well text-center">' +
                    '<h3>Home-unit address</h3>' +
                    '<b>IP address: </b>' + response.ip + '<br>' +
                    '<b>Port: </b>' + response.port + '<br>'
            );
            $("#newIP").val(response.ip);
            $("#newPort").val(response.port);
        },
        error: function(response) {
            if (response.status == 401) {
                window.location.href = "/auth";
            } else {
                $("#errorDiv").empty();
                $("#errorDiv").append('<h1>'+response.status +'</h1> <br> ' +
                        '<h3>'+ response.statusText +'</h3> <br> ' +
                        response.responseJSON.message + '<br>');
                $("#errorDiv").show();
            }
        },
        beforeSend: function(xhr) {
            xhr.setRequestHeader('Authorization', window.localStorage.getItem('APItoken'));
        }



    });       
}    
    
$.ajax({
    method: 'GET',
    url: '/API/getHomeUnitInfo',
    dataType: 'json',
    success: function(response) {
        $("#homeUnitInfo").empty();
        $("#homeUnitInfo").append(
            '<div class="well text-center">' +
                '<h3>Home-unit address</h3>' +
                '<b>IP address: </b>' + response.ip + '<br>' +
                '<b>Port: </b>' + response.port + '<br>'
        );
        $("#newIP").val(response.ip);
        $("#newPort").val(response.port);
    },
    error: function(response) {
        if (response.status == 401) {
            window.location.href = "/auth";
        } else {
            $("#errorDiv").empty();
            $("#errorDiv").append('<h1>'+response.status +'</h1> <br> ' +
                    '<h3>'+ response.statusText +'</h3> <br> ' +
                    response.responseJSON.message + '<br>');
            $("#errorDiv").show();
        }
    },
    beforeSend: function(xhr) {
        xhr.setRequestHeader('Authorization', window.localStorage.getItem('APItoken'));
    }
    
    
    
});    

</script>



<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

    <div id="errorDiv" class="alert alert-danger text-center">
    </div>
    <div class="row text-center">
        <div id="homeUnitInfo" class="col-sm-12">
        </div>
        <button id="editHomeUnitButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editHomeUnit"><span class="glyphicon glyphicon-home"></span> Edit Home Unit</button>
        <br>
        <br>
    </div>
    


    <div class="row">

        <div class="col-sm-12">
            <div class="well text-center">
                Are you lost and in need of help? Try this tutorial! </br>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Tutorial</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tutorial</h4>
                </div>
                <div class="modal-body">
                    <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Site explained</a></li>
                            <li><a href="#tab2" data-toggle="tab">API explained</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <ul>
                                    <li>We have created a house for you along with your user.</li>
                                    <li>You will have to connect this site to your home unit by entering the ip & port in the profile page.</li>
                                    <li>You are now free to add any amounts of rooms and items to your house.</br><i>Note: an item belongs in a room and a room belongs to your house.</i></li>
                                    <li>Once you have added at least one item you will have the option to go to that items specific page by clicking the concerned item on the "house" page.
                                        Here you can add a picture to/of the item, remove it or change its information as well as toggle it on and off.</li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <ul>
                                    <li>To access the secure calls in the API you need a Json Web Token in the 'Authorization' header field.</li>
                                    <li>A JWT is provided by the sign in & sign up functions.</li>
                                    <li>To add an item you need a room. To add a room you need a house.</li>
                                    <li>To toggle, remove or alter an item you need an item.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="editHomeUnit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class ="modal-header">
                <h3 class="modal-title">Edit your home unit info</h3>
            </div>
            <div class="modal-body">
                <form id="editHomeUnitForm" onSubmit="editHomeUnitInfo($('#newIP').val(), $('#newPort').val());return false;">
                    <div class="form-group">
                        <label for="IP">IP-address:</label>
                        <input type="text" id="newIP" name="newIP" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Port">Port:</label>
                        <input type="text" id="newPort" name="newPort" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="editHomeUnitForm"> Save </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
